@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@300;400;700&family=Raleway:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Raleway', sans-serif;
}

header {
    color: white;
}

.header {
    position: relative;
    background-image: linear-gradient(#6823AD38, #FF6B1747), url("../images/background.png");
    background-size: 100%;
    background-position: center;
    height: 100vh;
}

.nav {
    width: 100%;
    height: 45px;
    margin-left: auto;
    margin-right: auto;
}

.nav_list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    width: 94%;
    padding-inline-start: 0px;
    padding-top: 49px;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
}

.nav_icon {
    width: 45px;
    margin-right: 750px;
}

.nav_link {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    color: white;
}

.main {
    width: 90%;
    margin: 0 auto;
    padding-top: 200px;
}

.main_title {
    font-family: 'Poppins';
    font-size: 6rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    height: 115px;
}

.main_subtitle {
    font-family: 'Poppins';
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.third_title {
    font-family: 'Raleway';
    font-size: 1rem;
    padding-top: 210px;
}

.frutos_rojos {
    display: flex;
    gap: 90px;
    position: relative;
    background-color: #F2F2F2;
    background-size: 100%;
    background-position: center;
    height: 100vh;
    padding: 4% 6%;
}

.imagen_frutos1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.imagen1_frutos {
    width: 340px;
}

.image_description {
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 450px;
}

.frutos_subtitle {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    text-align: start;
    text-transform: uppercase;
    line-height: 35px;
}

.frutos_description {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30.14px;
}

.rectangle {
    background-color: #6823AD;
    color: #6823AD;
    opacity: 14%;
    width: 59%;
    left: 41%;
    bottom: 0%;
    height: 44%;
    vertical-align: middle;
    position: absolute;
}

.imagen2_frutos {
    width: 590px;
    position: absolute;
}

.propiedades {
    height: 100vh;
}

.panfrutos_imagen {
    position: relative;
    width: 100%;
    padding: 2% 0;
}

.image_description2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    position: absolute;
    width: 739px;
    height: 207px;
    left: 22%;
}

.panfrutos_subtitle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    text-transform: uppercase;
}

.panfrutos_description {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    text-align: center;
}

.contact {
    height: 28vh;
    background-color: #F2F2F2;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 3% 0;
}

.contact_subtitle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 60px;
    text-transform: uppercase;
}

.contact_info {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 180%;
}

.name {
    color: #6C6C6C;
}

@media (max-device-width: 425px) {

    .header {
        background-size: 356%;
        height: 320vh;
        width: 144vh;
    }

    .nav {
        height: 500px;
    }

    .nav_list {
        gap: 60px;
        width: 85%;
        padding-top: 200px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .nav_icon {
        width: 130px;
        margin-right: 0px;
    }

    .nav_link {
        font-size: 3rem;
    }

    .main {
        width: 90%;
        margin: 70px;
        padding-top: 650px;
    }

    .main_title {
        font-size: 11rem;
        height: 220px;
    }

    .main_subtitle {
        font-size: 6rem;
    }

    .third_title {
        font-size: 4rem;
        padding-top: 900px;
    }

    .frutos_rojos {
        flex-direction: column;
        height: 440vh;
        width: 319%;
        padding: 0;
    }

    .imagen_frutos1 {
        align-items: baseline;
    }

    .imagen1_frutos {
        width: 81%;
        margin: 8% 10%;
    }

    .image_description {
        gap: 55px;
        width: 80%;
    }

    .frutos_subtitle {
        font-size: 4rem;
    }

    .frutos_description {
        font-size: 4rem;
        line-height: 98.14px;
    }

    .rectangle {
        width: 100%;
        left: 0%;
        bottom: 8px;
        height: 7%;
    }

    .imagen2_frutos {
        width: 100%;
    }

    .propiedades {
        height: 230vh;
        width: 143vh;
    }

    .panfrutos_imagen {
        padding: 9% 0;
    }

    .image_description2 {
        align-items: baseline;
        gap: 45px;
        width: 266%;
        padding: 0 10%;
    }

    .panfrutos_subtitle {
        font-size: 5rem;
    }

    .panfrutos_description {
        font-size: 4rem;
        text-align: start;
    }

    .contact {
        height: 43vh;
        width: 143vh;
    }

    .information {
        padding: 6% 0;
    }

    .contact_subtitle {
        font-size: 4rem;
    }

    .contact_info {
        font-size: 3rem;
    }
}

@media (max-device-width: 375px) {

    .header {
        background-size: 356%;
        height: 320vh;
        width: 155vh;
    }

    .nav {
        height: 380px;
    }

    .nav_list {
        gap: 60px;
        width: 85%;
        padding-top: 120px;
        margin-left: 13%;
        margin-right: 0%;
    }

    .nav_icon {
        width: 130px;
        margin-right: 0px;
    }

    .nav_link {
        font-size: 3rem;
    }

    .main {
        width: 90%;
        margin: 70px;
        padding-top: 450px;
    }

    .main_title {
        font-size: 11rem;
        height: 220px;
    }

    .main_subtitle {
        font-size: 6rem;
    }

    .third_title {
        font-size: 4rem;
        padding-top: 90%;
    }

    .frutos_rojos {
        flex-direction: column;
        height: 480vh;
        width: 319%;
        padding: 0;
    }

    .imagen_frutos1 {
        align-items: baseline;
    }

    .imagen1_frutos {
        width: 68%;
        margin: 8% 16%;
    }

    .image_description {
        gap: 55px;
        width: 69%;
    }

    .frutos_subtitle {
        font-size: 5rem;
    }

    .frutos_description {
        font-size: 3rem;
        line-height: 98.14px;
    }

    .rectangle {
        width: 100%;
        left: 0%;
        bottom: 3px;
        height: 7%;
    }

    .imagen2_frutos {
        width: 100%;
    }

    .propiedades {
        height: 220vh;
        width: 155vh;
    }

    .panfrutos_imagen {
        padding: 9% 0;
    }

    .image_description2 {
        align-items: baseline;
        gap: 45px;
        width: 266%;
        padding: 0 10%;
    }

    .panfrutos_subtitle {
        font-size: 5rem;
    }

    .panfrutos_description {
        font-size: 3rem;
        text-align: start;
    }

    .contact {
        height: 50vh;
        width: 155vh;
    }

    .information {
        padding: 6% 0;
    }

    .contact_subtitle {
        font-size: 4rem;
    }

    .contact_info {
        font-size: 3rem;
    }
}