@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@300;400;700&family=Raleway:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0%;
}

body {
    font-family: 'Raleway', sans-serif;
}

header {
    color: white;
}

/*section header*/

.header {
    position: relative;
    background-image: linear-gradient(#6823AD38, #FF6B1747), url(../images/background.png);
    background-size: 100vw;
    background-position: center;
    height: 100vh;
    width: 100vw;
}

.nav {
    width: 92vw;
    height: 20vh;
    margin: 0% 4%;
}

.nav_list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
    width: 92vw;
    height: 20vh;
    padding-inline-start: 0px;
    padding: 2% 0%;
    margin: 0% 0%;
    list-style: none;
}

.nav_icon {
    width: 3vw;
    margin-right: 58vw;
}

.nav_link {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    color: white;
}

.main {
    width: 100vw;
    height: 80vh;
    margin: 0 0%;
    padding: 2%;
}

.principal_text {
    padding: 5% 0%;
}

.main_title {
    font-family: 'Poppins';
    font-size: 6rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    height: 15vh;
    width: 96vw;
}

.main_subtitle {
    font-family: 'Poppins';
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.third_title {
    font-family: 'Raleway';
    font-size: 1rem;
    padding-top: 15%;
}

/*section frutos rojos*/

.frutos_rojos {
    height: 100vh;
    width: 100vw;
    padding: 5% 5%;
    position: relative;
    background-position: center;
    background-color: #F2F2F2;
    background-size: 100vh;
    display: flex;
    gap: 11%;
}

.imagen_frutos1 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.imagen1_frutos {
    width: 26vw;
}

.image_description {width: 36vw;
    height: 34vh;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.frutos_subtitle {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    text-align: start;
    text-transform: uppercase;
    line-height: 35px;
}

.frutos_description {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 33px;
}

.rectangle {
    width: 55%;
    height: 43%;
    left: 45%;
    bottom: 0%;
    position: absolute;
    background-color: #6823AD;
    color: #6823AD;
    opacity: 14%;
}

.imagen2_frutos {
    width: 44%;
    position: absolute;
}

/*section propiedades*/

.propiedades {
    height: 100vh;
    width: 100vw;
}

.panfrutos_imagen {
    position: relative;
    width: 100vw;
    padding: 3% 0%;
}

.image_description2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    position: absolute;
    width: 60vw;
    height: 24vh;
    left: 20%;
}

.panfrutos_subtitle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    text-transform: uppercase;
}

.panfrutos_description {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 33px;
    text-align: center;
}

/*section contact*/

.contact {
    height: 20vh;
    width: 100vw;
    background-color: #F2F2F2;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1% 0%;
    gap: 10px;
}

.contact_subtitle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
}

.contact_info {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 29px;
}

.name {
    color: #6C6C6C;
}


/*media 425px*/

@media (max-device-width: 425px) {

    .header {
        background-size: 355vw;
    }

    .nav {
        width: 100vw;
        height: 20vh;
        margin: 0% 0%;
    }
    
    .nav_list {
        gap: 18px;
        width: 95vw;
    }
    
    .nav_icon {
        width: 0vw;
        margin-right: 0vw;
    }

    .main {
        width: 100vw;
        height: 80vh;
        margin: 0 0%;
        padding: 15% 0%;
    }
    
    .principal_text {
        padding: 0% 0%;
    }
    
    .main_title {
        height: 26vh;
        line-height: 115px;
    }
    
    .third_title {
        padding-top: 40%;
    }
    
    /*section frutos rojos*/
    
    .frutos_rojos {
        height: 145vh;
        flex-direction: column;
        gap: 0px;
    }
    
    .imagen_frutos1 {
        align-items: center;
        height: 60%;
    }

    .imagen1_frutos {
        width: 80vw;
    }
    
    .image_description {
        width: 90vw;
        height: 43vh;
        gap: 10px;
    }
    
    .frutos_description {
        font-size: 1.3rem;
        line-height: 33px;
    }
    
    .rectangle {
        width: 100%;
        height: 6%;
        left: 0%;
        bottom: 0%;
    }
    
    .imagen2_frutos {
        width: 100%;
        left: 0%;
        top: 63%;
    }
    
    /*section propiedades*/
    
    .panfrutos_imagen {
        padding: 10% 0%;
        padding-bottom: 30%;
    }
    
    .image_description2 {
        gap: 30px;
        width: 90vw;
        height: 56vh;
        left: 5%;
    }
    
    .panfrutos_description {
        font-size: 1.3rem;
        line-height: 33px;
    }
    
    /*section contact*/
    
    .contact {
        height: 17vh;
    }
    
    .information {
        padding: 4% 0%;
        gap: 4px;
    }
}

/*media 375px*/

@media (max-device-width: 375px) {

    .header {
        background-size: 355vw;
    }
    
    .nav_list {
        gap: 22px;
    }
    
    .nav_icon {
        width: 10vw;
        margin-right: 0vw;
    }
    
    .principal_text {
        padding: 5% 0%;
    }
    
    .main_title {
        height: 30vh;
    }
    
    .third_title {
        padding-top: 45%;
    }
    
    /*section frutos rojos*/
    
    .frutos_rojos {
        height: 135vh;
        flex-direction: column;
    }
    
    .imagen_frutos1 {
        align-items: center;
    }

    .imagen1_frutos {
        width: 80vw;
    }
    
    .image_description {
        width: 90vw;
        height: 30vh;
    }
    
    .frutos_description {
        font-size: 1.3rem;
        line-height: 33px;
    }
    
    .rectangle {
        width: 100%;
        height: 10%;
        left: 0%;
        bottom: 0%;
    }
    
    .imagen2_frutos {
        width: 100%;
        left: 0%;
    }
    
    /*section propiedades*/
    
    .panfrutos_imagen {
        padding: 20% 0%;
    }
    
    .image_description2 {
        gap: 35px;
        width: 90vw;
        height: 59vh;
        left: 5%;
    }
    
    .panfrutos_description {
        font-size: 1.3rem;
        line-height: 33px;
    }
    
    /*section contact*/
    
    .contact {
        height: 17vh;
    }
    
    .information {
        padding: 5% 0%;
        gap: 4px;
    }
}

/*media 320px*/