@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@300;400;700&family=Raleway:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0%;
}

body {
    font-family: 'Raleway', sans-serif;
}

header {
    color: white;
}

/*section header*/

.header {
    position: relative;
    background-image: linear-gradient(#6823AD38, #FF6B1747), url(../images/background.png);
    background-size: 100vw;
    background-position: center;
    height: 100vh;
    width: 100vw;
}

.nav {
    width: 92vw;
    height: 20vh;
    margin: 0% 4%;
}

.nav_list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 31px;
    width: 92vw;
    height: 20vh;
    padding-inline-start: 0px;
    padding: 2% 0%;
    margin: 0% 0%;
    list-style: none;
}

.nav_icon {
    width: 4vw;
    margin-right: 56vw;
}

.nav_link {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    color: white;
}

.main {
    width: 100vw;
    height: 80vh;
    margin: 0 0%;
    padding: 2%;
}

.principal_text {
    padding: 5% 0%;
}

.main_title {
    font-family: 'Poppins';
    font-size: 6rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    height: 15vh;
    width: 96vw;
}

.main_subtitle {
    font-family: 'Poppins';
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.third_title {
    font-family: 'Raleway';
    font-size: 1rem;
    padding-top: 15%;
}

/*section frutos rojos*/

.frutos_rojos {
    height: 100vh;
    width: 100vw;
    padding: 5% 5%;
    position: relative;
    background-position: center;
    background-color: #F2F2F2;
    background-size: 100vh;
    display: flex;
    gap: 11%;
}

.imagen_frutos1 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.imagen1_frutos {
    width: 26vw;
}

.image_description {width: 36vw;
    height: 34vh;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.frutos_subtitle {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    text-align: start;
    text-transform: uppercase;
    line-height: 35px;
}

.frutos_description {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 28px;
}

.rectangle {
    width: 55%;
    height: 43%;
    left: 45%;
    bottom: 0%;
    position: absolute;
    background-color: #6823AD;
    color: #6823AD;
    opacity: 14%;
}

.imagen2_frutos {
    width: 44%;
    position: absolute;
}

/*section propiedades*/

.propiedades {
    height: 100vh;
    width: 100vw;
}

.panfrutos_imagen {
    position: relative;
    width: 100vw;
    padding: 3% 0%;
}

.image_description2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    position: absolute;
    width: 60vw;
    height: 24vh;
    left: 20%;
}

.panfrutos_subtitle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    text-transform: uppercase;
}

.panfrutos_description {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 30px;
    text-align: center;
}

/*section contact*/

.contact {
    height: 20vh;
    width: 100vw;
    background-color: #F2F2F2;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1% 0%;
    gap: 10px;
}

.contact_subtitle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
}

.contact_info {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 29px;
}

.name {
    color: #6C6C6C;
}


/*media 425px*/
/*
@media (max-device-width: 425px) {

    .header {
        background-size: 357vh;
        height: 400vh;
        width: 180vh;
    }

    .nav {
        height: 350vh;
    }

    .nav_list {
        gap: 79px;
        width: 80vh;
        padding-top: 13vh;
    }

    .nav_icon {
        width: 130vh;
        margin-right: 0px;
    }

    .nav_link {
        font-size: 4rem;
    }

    .main {
        width: 90vh;
        margin: 70px;
        padding-top: 63vh;
    }

    .main_title {
        font-size: 14rem;
        height: 280vh;
    }

    .main_subtitle {
        font-size: 7rem;
    }

    .third_title {
        font-size: 4rem;
        padding-top: 100vh;
    }

    .frutos_rojos {
        flex-direction: column;
        height: 515vh;
        width: 399vh;
        padding: 0px;
    }

    .imagen_frutos1 {
        align-items: baseline;
    }

    .imagen1_frutos {
        width: 65vh;
        margin: 15vh 18vh;
        margin-bottom: 5vh;
    }

    .image_description {
        gap: 70px;
        width: 65vh;
    }

    .frutos_subtitle {
        font-size: 6rem;
    }

    .frutos_description {
        font-size: 4rem;
        line-height: 98.14px;
    }

    .rectangle {
        width: 100vh;
        left: 0vh;
        bottom: 8px;
        height: 7vh;
    }

    .imagen2_frutos {
        width: 100vh;
        margin: 10vh 0;
    }

    .propiedades {
        height: 250vh;
        width: 180vh;
    }

    .panfrutos_imagen {
        padding: 9vh 0;
    }

    .image_description2 {
        align-items: baseline;
        gap: 45px;
        width: 355vh;
        padding: 0px 49vh;
    }

    .panfrutos_subtitle {
        font-size: 6rem;
    }

    .panfrutos_description {
        font-size: 4rem;
        text-align: start;
    }

    .contact {
        height: 52vh;
        width: 180vh;
    }

    .information {
        padding: 6vh 0;
    }

    .contact_subtitle {
        font-size: 4rem;
    }

    .contact_info {
        font-size: 3rem;
    }
}

/*media 375px*/
/*
@media (max-device-width: 375px) {

    .header {
        background-size: 640vh;
        height: 400vh;
        width: 225vh;
    }

    .nav {
        height: 380px;
    }

    .nav_list {
        gap: 60px;
        width: 87vh;
        padding-top: 120px;
        margin-left: 8vh;
        margin-right: 0vh;
    }

    .nav_icon {
        width: 130vh;
        margin-right: 0px;
    }

    .nav_link {
        font-size: 3rem;
    }

    .main {
        width: 90vh;
        margin: 70px;
        padding-top: 385px;
    }

    .main_title {
        font-size: 11rem;
        height: 220px;
    }

    .main_subtitle {
        font-size: 6rem;
    }

    .third_title {
        font-size: 3rem;
        padding-top: 75vh;
    }

    .frutos_rojos {
        flex-direction: column;
        height: 535vh;
        width: 327vh;
        padding: 0;
    }

    .imagen_frutos1 {
        align-items: start;
    }

    .imagen1_frutos {
        width: 60vh;
        margin: 6vh 20vh;
    }

    .image_description {
        padding: 0 16vh;
        gap: 55px;
        width: 100vh;
    }

    .frutos_subtitle {
        font-size: 5rem;
    }

    .frutos_description {
        font-size: 3rem;
        line-height: 98.14px;
    }

    .rectangle {
        width: 100vh;
        left: 0vh;
        bottom: 3px;
        height: 7vh;
    }

    .imagen2_frutos {
        width: 100vh;
        margin: 0 0;
    }

    .propiedades {
        height: 245vh;
        width: 184vh;
    }

    .panfrutos_imagen {
        padding: 9vh 0;
    }

    .image_description2 {
        align-items: baseline;
        gap: 45px;
        width: 280vh;
        padding: 0 29vh;
    }

    .panfrutos_subtitle {
        font-size: 5rem;
    }

    .panfrutos_description {
        font-size: 3rem;
        text-align: start;
    }

    .contact {
        height: 53vh;
        width: 184vh;
    }

    .information {
        padding: 5vh 0;
    }

    .contact_subtitle {
        font-size: 4rem;
    }

    .contact_info {
        font-size: 3rem;
    }
}

@media (max-device-width: 320px) {

    .header {
        background-size: 356vh;
        height: 320vh;
        width: 155vh;
    }

    .nav {
        height: 380px;
    }

    .nav_list {
        gap: 60px;
        width: 85vh;
        padding-top: 120px;
        margin-left: 12vh;
        margin-right: 0vh;
    }

    .nav_icon {
        width: 130vh;
        margin-right: 0px;
    }

    .nav_link {
        font-size: 3rem;
    }

    .main {
        width: 90vh;
        margin: 70px;
        padding-top: 450px;
    }

    .main_title {
        font-size: 11rem;
        height: 220px;
    }

    .main_subtitle {
        font-size: 6rem;
    }

    .third_title {
        font-size: 3rem;
        padding-top: 95vh;
    }

    .frutos_rojos {
        flex-direction: column;
        height: 475vh;
        width: 364vh;
        padding: 0;
    }

    .imagen_frutos1 {
        align-items: baseline;
    }

    .imagen1_frutos {
        width: 68vh;
        margin: 8vh 16vh;
    }

    .image_description {
        gap: 55px;
        width: 69vh;
    }

    .frutos_subtitle {
        font-size: 5rem;
    }

    .frutos_description {
        font-size: 3rem;
        line-height: 98.14px;
    }

    .rectangle {
        width: 100vh;
        left: 0vh;
        bottom: 3px;
        height: 7vh;
    }

    .imagen2_frutos {
        width: 100vh;
    }

    .propiedades {
        height: 230vh;
        width: 155vh;
    }

    .panfrutos_imagen {
        padding: 9vh 0;
    }

    .image_description2 {
        align-items: baseline;
        gap: 45px;
        width: 340vh;
        padding: 0px 35vh;
    }

    .panfrutos_subtitle {
        font-size: 5rem;
    }

    .panfrutos_description {
        font-size: 3rem;
        text-align: start;
    }

    .contact {
        height: 50vh;
        width: 155vh;
    }

    .information {
        padding: 6vh 0;
    }

    .contact_subtitle {
        font-size: 4rem;
    }

    .contact_info {
        font-size: 3rem;
    }
} */