@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #0a1736;
}

#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 75vh;
}

.titulo-img img{
    width: 280px;
}

.subtitulo {
    font-family: 'Fredoka One', cursive;
    color: white;
    font-size: 20px;
}

.selectores,.botones-ataques {
    display: flex;
    gap: 7px;
    margin: 0px;
}

.selector-mascota {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1c2250;
    color: white;
    width: 209px;
    height: 105px;
    padding: 10px;
    border-radius: 35px;
    margin: 10px;
    box-sizing: border-box;
}

.selector-mascota img {
    width: 90px;
}

input {
    display: none;
}

input:checked + label {
    background-color: #4a22af;
}

#boton-seleccionarmascota {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-color: #4a22af;
    color: white; 
    width: 190px;
    height: 40px;
    padding: 7px;
    border: 2px solid #4a22af;
    border-radius: 20px;  
    margin-top: 30px;
    box-sizing: border-box;
}

#ver-mapa {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

#mapa {
    border: 2px solid white;
}

#boton-arriba {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-color: #4a22af;
    color: white; 
    width: 90px;
    height: 40px;
    padding: 7px;
    border: 2px solid #4a22af;
    border-radius: 20px;  
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.botones-movimiento {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-color: #4a22af;
    color: white; 
    width: 90px;
    height: 40px;
    padding: 7px;
    border: 2px solid #4a22af;
    border-radius: 20px;  
    margin: 0px;
    box-sizing: border-box;
}

#seleccionar-ataque {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 90vh;
    margin-top: 4vh;
}

.boton-ataque {
    font-family: 'Poppins', sans-serif;
    background-color: #1c2250;
    color: white;
    width: 120px;
    padding: 10px;
    border-radius: 20px;
    border-color: transparent;
}

#mensajes {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #08122c;
    width: 280px;
    padding: 15px;
    border-radius: 20px;
    margin-top: 20px;
}

#resultado {
    color: white;
} 

#boton-reiniciar {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    color:white;
    background-color: #4a22af;
    width: 280px;
    height: 50px;
}

.informacion {
    display: grid;
    grid-template-columns: 100px 100px;
    gap: 40px;
    font-size: medium;
}

.info-jugador, .info-enemigo {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

#victoriasmascotajugador, #victoriasmascotaenemigo {
    font-size: x-large;
}

@media (max-width: 690px) {
    #seleccionar-mascota {
        height: 93vh;
    }

    #ver-mapa {
        height: 93vh;
    }

    .titulo-img {
        height: 5vh;
    }

    .selectores, .botones-ataques {
        flex-direction: column; 
        margin: 0px;
    }

    #seleccionar-ataque {
        height: 0vh;
    }

    #mensajes {
        margin: 10px;
    }
}

@media (max-width: 380px) {
    .subtitulo {
        text-align: center;
    }

    #seleccionar-mascota {
        height: 93vh;
    }

    #ver-mapa {
        height: 93vh;
    }

    #ver-mapa div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #boton-arriba {
        margin-bottom: 5px;
    }

    .botones-movimiento {
        margin: 5px;
    }

    #seleccionar-ataque {
        height: 0vh;
    }
}